@import '../../styles/sizes';

.selectContainer {
  position: relative;

  select {
    width: 100%;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.15px;
    color: var(--donate-form-input-text-color);
    padding: 16px;
    border-radius: 4px;
    border: 1px solid var(--donate-form-input-border-color);
    background-color: var(--body-background-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
  }
  &:after {
    content: '';
    position: absolute;
    right: 24px;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid var(--body-text-color);
  }
}

@media (max-width: $size-small) {
  .selectContainer {
    select {
      padding: 12px 16px;
    }
  }
}
