.checkboxContainer {
  display: inline-flex;
  position: relative;
  padding-left: 64px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.checkboxContainer input {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  cursor: pointer;
}
.checkboxContainer .label {
  line-height: 1.36;
  letter-spacing: 0.21px;
  font-size: 22px;
  color: rgba(0, 0, 0, 0.6);
  max-width: 640px;
}
.checkbox {
  position: absolute;
  top: 6px;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: transparent;
  border: 2px solid #626262;
  border-radius: 2px;
}
.checkboxContainer input:checked ~ .label {
  color: #000000;
}
.checkboxContainer input:checked ~ .checkbox {
  border-color: var(--theme-blue);
}
.checkbox:before,
.checkbox:after {
  content: '';
  position: absolute;
  display: none;
}
.checkboxContainer input:checked ~ .checkbox:before,
.checkboxContainer input:checked ~ .checkbox:after {
  display: block;
}
.checkboxContainer .checkbox:before {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background: var(--theme-blue);
}
.checkboxContainer .checkbox:after {
  top: -11px;
  bottom: 0;
  right: 0;
  left: -6px;
  margin: auto;
  width: 10px;
  height: 5px;
  border: solid 2px #fff;
  border-right: none;
  border-top: none;
  transform: translate(3px, 4px) rotate(-45deg);
}
