@import '../../styles/sizes';

.donate {
  p {
    max-width: 1000px;
  }
  .formContainer {
    background: var(--donate-form-background-color);
    margin-top: 50px;
    form {
      max-width: 860px;
      .block {
        border-top: 1px solid #afafaf;
        padding: 50px 0;
        &:first-child {
          border: none;
        }
        h3 {
          margin-bottom: 40px;
        }
        .row {
          display: flex;
          margin-bottom: 46px;
          &:last-child {
            margin-bottom: 0;
          }
          .input {
            margin-right: 40px;
            flex-grow: 1;
            position: relative;
            flex-basis: 30%;
            flex-shrink: 0;
            display: block;
            &:last-child {
              margin-right: 0;
            }
            &.error {
              border-color: var(--error-red);
              box-shadow: 0 0 2px var(--error-red);
            }
            input,
            textarea {
              resize: none;
              flex-grow: 1;
              width: 100%;
              font-size: 16px;
              line-height: 1.5;
              letter-spacing: 0.15px;
              color: var(--donate-form-input-text-color);
              padding: 16px;
              border-radius: 4px;
              border: 1px solid var(--donate-form-input-border-color);
              background-color: var(--body-background-color);
              -webkit-appearance: none;
              -moz-appearance: none;
              appearance: none;
              position: relative;
              &::placeholder {
                color: var(--donate-form-input-placeholder-color);
              }
            }
            textarea {
              margin-top: 40px;
            }
          }
        }
        ul.list {
          margin: 0;
          padding: 0;
          list-style: none;
          li {
            margin-bottom: 40px;
            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }
      &.disabled {
        pointer-events: none;
        opacity: 0.4;
      }
      button {
        margin-top: 16px;
        margin-bottom: 50px;
      }
    }
  }

  .formError {
    margin-top: 60px;
    display: none;
    font-size: 30px;
    color: var(--error-red);
  }
}

@media (max-width: $size-small) {
  .donate {
    p {
      max-width: 1000px;
    }
    .formContainer {
      form {
        max-width: 860px;
        margin-top: 30px;
        .block {
          padding: 30px 0 10px 0;
          h3 {
            margin-bottom: 30px;
          }
          .row {
            display: block;
            margin-bottom: 0;
            &:last-child {
              margin-bottom: 0;
            }
            .input {
              margin-right: 0;
              margin-bottom: 20px;
              input,
              textarea {
                padding: 12px 16px;
              }
              textarea {
                margin-top: 30px;
                margin-bottom: 0;
              }
            }
          }
          ul.list {
            li {
              margin-bottom: 30px;
            }
          }
          ul.controls {
            margin-bottom: 20px;
          }
        }
        button {
          margin-top: 0;
          margin-bottom: 30px;
        }
      }
    }
  }
}
